@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
}

main{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0 10vw;
    text-align: center;
}

a{
    text-decoration: none;
    letter-spacing: 2px;
    padding: 20px;
    display: block;
    color: #572C9D;
}

footer a{
    letter-spacing: 0;
    padding: 0 5px;
}

header{
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #d4e9dc;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

nav ul, nav > a{
    list-style: none;
    display: flex;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    align-items: center;
    text-transform: uppercase;
}

section ul{
    list-style: circle;
    text-align: left;
    padding-left: 20px;
}

nav ul li a:hover, .active {
    color: #0ca68e;
}

footer{
    display: flex;
    background-color: #d4e9dc;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    height: 70px;
    color: #572C9D;
}

main > section{
    flex: 40%;
    padding: 20px;
}

img{
    border-radius: 50%;
    width: 80%;
}

h1{
    font-size: 4rem;
    color: #572C9D;
}

h3{
    color: #572C9D;
}

main a {
    display: inline-block;
    padding: 10px;
}

section > *{
    padding: 15px 0;
}

